
{% extends 'nav.html' %}
{% block content %}
{% for i in prod %}
    <div class="row " style="padding-top:5px;">
    <div class="col-md-2" onclick="window.location='{% url 'detail' i.id %}'" style="cursor:pointer;">
        <img src="{{ i.image }}"width="150" height="150">
    </div>
    <div class="col-md-6" onclick="window.location='{% url 'detail' i.id %}'" style="cursor:pointer;">
        <h3>{{ i.title }}</h3>
        <p>{{ i.summary }}</p>
    </div>
    <div class="col-md-4">
        <a href="javascript:{document.getElementById('upvote{{ i.id }}').submit()}"><button class="btn btn-primary btn-lg btn-block" > <span class="oi oi-caret-top"></span>&nbsp Upvote {{ i.votes}}</button></a>

    </div>
    </div>
    <form id="upvote{{ i.id }}" action="{% url 'upvote' i.id %}" method="post">
    {% csrf_token %}
    <input type="hidden">
    </form>

    {% endfor %}

{% endblock %}

